In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import scale
import os
dirli = os.listdir()
#pd.DataFrame(dirli)

## im going to pull the data frame in and save it without column names or anything

In [2]:
dpath = 'ML_WARPATH-V3.1/clean_data/'
sheets = os.listdir(dpath)
sheet = [s for s in sheets if 'features' in s][0]
df = pd.read_csv(dpath+sheet)
df = df.drop('time',axis=1)
#df

In [3]:
df = df.replace(True,1).replace(False,0)

In [4]:
df.to_csv('data.csv',header=False,index=False)

## load data with numpy

In [5]:
raw_data = np.loadtxt('data.csv',delimiter=',')
#pd.DataFrame(raw_data)

## ok lets load a target frame

In [6]:
tarsheet = [s for s in sheets if 'target' in s][0]
df = pd.read_csv(dpath+tarsheet)
targs = [col for col in df.columns if 'TARGET' in col]
df = df[targs]
targs = df.columns
pd.DataFrame(targs)

                                  0
0      STDR10:down_target:_5TARGET!
1      STDR10:down_target:_4TARGET!
2      STDR10:down_target:_3TARGET!
3        STDR10:up_target:_3TARGET!
4        STDR10:up_target:_4TARGET!
5        STDR10:up_target:_5TARGET!
6                   TARGET:uped_10!
7                 TARGET:downed_10!
8                   TARGET:uped_20!
9                 TARGET:downed_20!
10                   TARGET:uped_5!
11                 TARGET:downed_5!
12    TARGET:fast:5_up_slow:10in:10
13  TARGET:fast:5_down_slow:10in:10

In [7]:
t      =   13 
target = targs[t]
print(target,len(df[target]),'\nnumber_true:',df[target].sum())

TARGET:fast:5_down_slow:10in:10 1467
number_true: 749

## seperate targets from inputs

In [8]:
targets = df[target].replace(True,1).replace(False,0).values #<--VALUES makes itan array
targets

array([1., 1., 1., ..., 0., 0., 0.])

In [9]:
features = raw_data#[:,1:-1]

pd.DataFrame(features)

,0,1,2,3,4,5,6,7,8,9,...,67,68,69,70,71,72,73,74,75,76
0,13.02,13.02,13.00,13.00,784.0,366.000000,2835.0,0.086423,306.967625,80.621565,...,87.976036,99.462366,99.499245,-0.537634,0.603500,11.931611,0.000000,1.960784,1.941809,39.784946
1,13.00,14.00,13.00,14.00,421.0,787.000000,3256.0,0.169029,323.257964,82.888769,...,92.653349,100.000000,99.820789,-0.000000,0.718000,12.708814,0.000000,7.692308,7.410797,50.537634
2,13.75,13.75,13.75,13.75,100.0,787.000000,3156.0,0.165475,273.506826,83.354178,...,84.023595,94.680851,98.047739,-5.319149,0.875917,12.987013,0.000000,-1.785714,-1.801851,47.849462
3,13.75,14.25,13.75,14.25,700.0,1487.000000,3856.0,0.272544,284.434423,86.070547,...,90.383078,100.000000,98.226950,-0.000000,1.070462,13.288096,53.225806,3.636364,3.571808,53.225806
4,14.60,14.60,14.60,14.60,282.0,1487.000000,4138.0,0.259150,257.900934,86.959303,...,91.211998,100.000000,98.226950,-0.000000,1.283071,13.631320,34.562212,2.456140,2.426462,56.989247
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1462,19.21,19.21,19.21,19.21,200.0,11796.020301,46653.0,-0.074313,17.232214,47.484022,...,47.283535,28.491620,26.384039,-71.508380,-0.329382,19.423586,-2.487310,0.313316,0.312826,106.559140
1463,19.15,19.15,19.15,19.15,300.0,11796.020301,46353.0,-0.099894,12.199040,41.228027,...,48.851891,25.139665,26.256983,-74.860335,-0.264912,19.414415,-2.046036,-0.312337,-0.312826,105.913978
1464,20.05,20.05,20.05,20.05,200.0,11796.020301,46553.0,-0.099894,36.170606,41.265287,...,67.436511,75.418994,43.016760,-24.581006,-0.082912,19.417727,-0.248756,4.699739,4.592644,115.591398
1465,20.14,20.15,20.14,20.15,200.0,11996.020301,46753.0,-0.099894,33.860519,44.112903,...,71.809064,81.005587,60.521415,-18.994413,0.136588,19.434710,2.492370,0.498753,0.497513,116.666667
1466,20.74,20.74,20.74,20.74,100.0,11996.020301,46853.0,-0.105499,37.451874,44.144981,...,71.849344,100.000000,85.474860,-0.000000,0.431941,19.549815,3.648176,2.928040,2.885991,123.010753

## balance the prios ( target values )

In [10]:
num_one_targs = int(np.sum(targets)) #b/c these are booleans you know
zero_counter = 0
indices_to_remove=[]

for i in range(targets.shape[0]):
    if targets[i]==0:
        zero_counter += 1
        if zero_counter > num_one_targs:
            indices_to_remove.append(i)

In [11]:
unscaled_inputs_equal_priors = np.delete(features,indices_to_remove,axis=0)
targets = np.delete(targets,indices_to_remove,axis=0)

In [12]:
from sklearn import preprocessing

In [13]:
scaled_inputs = preprocessing.scale(unscaled_inputs_equal_priors)

/home/brado/.local/lib/python3.8/site-packages/sklearn/preprocessing/_data.py:174: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "

In [14]:
shuffled_inices = np.arange(scaled_inputs.shape[0])
np.random.shuffle(shuffled_inices)

shuffled_inputs = scaled_inputs[shuffled_inices]
shuffled_targets= targets[shuffled_inices]

In [15]:
float(sum(shuffled_targets)/len(shuffled_targets))

0.5105657805044308

In [16]:
samples_count = shuffled_inputs.shape[0]

train_samples_count = int(0.8*samples_count)
validation_samples_count = int(0.1*samples_count)
test_samples_count = int(0.1*samples_count)

In [17]:
train_inputs = shuffled_inputs[:train_samples_count]
train_targets= shuffled_targets[:train_samples_count]

val_inputs   = shuffled_inputs[train_samples_count:train_samples_count+validation_samples_count]
val_targets  = shuffled_targets[train_samples_count:train_samples_count+validation_samples_count]

test_inputs  = shuffled_inputs[train_samples_count+validation_samples_count:]
test_targets = shuffled_targets[train_samples_count+validation_samples_count:]

In [18]:
(sum(shuffled_targets)/len(shuffled_targets))

0.5105657805044308

## verify that ya did it right...

In [19]:
print(sum(train_targets),train_samples_count,sum(train_targets)/train_samples_count)

print(sum(val_targets),validation_samples_count,sum(val_targets)/validation_samples_count)

print(sum(test_targets),test_samples_count,sum(test_targets)/test_samples_count)

604.0 1173 0.514919011082694
77.0 146 0.5273972602739726
68.0 146 0.4657534246575342

## save the data

In [20]:
# NOTE! --------------\/ THESE ARGS ARE ARBITRARY YOU CAN NAME THEM HOW EVER YOU LIKE AND THE file will saave with that as yoursplit names
np.savez('train.csv',inputs=train_inputs,targets=train_targets)
np.savez('validation.csv',inputs=val_inputs,targets=val_targets)
np.savez('test.csv',inputs=test_inputs,targets=test_targets)

## Every time you run the code you will get a differnt shuffle